*{
    font-family:Helvetica, sans-serif;
}

div1{
    display: flex;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="submit"],

textarea {
  width: 50%;
  height: 20px;
  border-radius: 20px;
  padding: 8px;
}
form{
display: flex;
  width: 85%;
  flex-direction: column;
  height: fit-content;
  
  gap: 30px;
  
}
form>div{
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.3em;
}
button{
    padding: 5px;
   margin: 0 auto;
}
img{
    width: 70px;
    height: auto;
}
section{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}